/**
 * Tabs
 */
.tabs-css .tabs {
  display: flex;
  flex-wrap: wrap;
}

.tabs-css .tabs label {
  order: 1;
  display: block;
  

  cursor: pointer;



}
.nav .modal-footer{ 
  justify-content: center;
}
.tabs-css .tabs .tab {
  order: 99;
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 1rem;
  background: #fff;
}

.tabs-css .tabs input[type=radio] {
  display: none;
}

.tabs-css .tabs input[type=radio]:checked + label {
  background: #fff;
}

.tabs-css .tabs input[type=radio]:checked + label + .tab {
  display: block;
}

@media (max-width: 45em) {
  .tabs-css .tabs .tab,
  .tabs-css .tabs label {
    order: initial;
  }
  .tabs-css .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}
