body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: Arial;
	font-size: 12px;
	background-color:#f6f6f6;
}

div#header{
  background-image:url(../images/topbg.jpg);
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:120px;
  
 }
 
.mainheading{
	font-size:200%;
	color:#FFFFFF;
	font-weight:bold;
	line-height:32px;
	}
	
.smallheading{
	font-size:118%;
	color:#898989;
	font-weight:bold;
	line-height:22px;
	}
	
.welcome{
	font-size:225%;
	color:#181818;
	font-weight:bold;
	line-height:32px;
	padding-left:5px;
	padding-top:9px;
	}
	
	
.welcome1{
	font-size:225%;
	color:#181818;
	font-weight:bold;
	line-height:22px;
	padding-left:5px;
	padding-top:5px;
	}
	
.normaltxt{
	font-size:14px;
	color:#444444;
	font-weight:bold;
	padding-left:102px;
	}
	.normaltxt1{
	font-size:14px;
	color:#444444;
	font-weight:bold;
	padding-left:70px;
	line-height:28px;
	}
	
.normaltxt2{
	font-size:13px;
	color:#444444;
	font-weight:bold;
	padding-left:5px;
	
	}
	.normaltxt3{
	font-size:14px;
	color:#444444;
	padding-left:5px;
	height:30px;
	
	}
	
.title{
	font-size:14px;
	color:#006aaf;
	font-weight:bold;
	padding-left:5px;
	line-height:28px;
	}
	
	.title-large{
	font-size:18px;
	color:#006aaf;
	font-weight:bold;
	padding-left:5px;
	line-height:28px;
	}
	
.title5{
	font-size:14px;
	color:#006aaf;
	font-weight:bold;
	padding:10px 0px 0px 5px;
	}
		
	
	.title3{
	font-size:14px;
	color:#006aaf;
	font-weight:bold;
	padding-left:1px;
	line-height:20px;
	}
	.title4{
	font-size:13px;
	color:#006aaf;
	font-weight:bold;
	padding-left:1px;
	line-height:20px;
	}
.mdom{
	font-size:12px;
	color:#444;
	font-weight:bold;
	line-height:18px;
	padding:5px;
	}

	
.title2{
	font-size:12px;
	color:#006aaf;
	background-color:#e2f0fb;
	font-weight:bold;
	padding-left:5px;
	line-height:28px;
	border:1px solid #d9e7f1;
	}



	
.texthome{
	font-size:12px;
	color:#444444;
	text-align:justify;
	padding:5px 5px 12px 5px;
	line-height:18px;
	
	
	}
	
.textboxone{
	font-size:14px;
	color:#fff;
	text-align:justify;
	padding:3px 19px 5px 15px;
	line-height:16px;
	}
	
	.textboxone1{
	font-size:12px;
	color:#fff;
	text-align:justify;
	padding:3px 19px 5px 15px;
	line-height:16px;
	}
	
hr{
	border-top:1px solid #3499cd;
	border-bottom:1px solid #a2d6ee;

}

	
.text{
	font-size:12px;
	color:#444444;
	text-align:justify;
	padding:5px 5px 12px 5px;
	line-height:18px;
	background-color:#fff;
	border:1px solid #d9e7f1;
	
	}
	
.textleft{
	font-size:12px;
	color:#444444;
	text-align:left;
	padding:5px 0px 0px 5px;
	line-height:18px;
	
	}
		
	
.circle {list-style-image:url(../images/blue_arrow.gif);
margin-bottom:-5px;
}	
.circle2 {list-style-image:url(../images/blue_arrow.gif);
 font-size:12px;
 color:#444444;
 text-align:left;
 line-height:16px;
 padding-right:10px;
 margin-bottom:-5px;

}
.circle2 li{
 padding-bottom:10px;
 }
.circle2 ul{
margin:0px;
} 
	

.circle3 {
 list-style-image:url(../images/blue_arrow.gif);
 font-size:12px;
 color:#444444;
 text-align:justify;
 line-height:16px;
 padding-right:10px;
}

.circle6{
	list-style-image:url(../images/blue_arrow.gif);
 font-size:16px;
color:#006aaf;
font-weight:bold;
 text-align:justify;
 padding-right:21px;
}
.circle6 li{
 padding-bottom:9px;
 }
.circle4{
	list-style-image:url(../images/blue_arrow.gif);
 font-size:13px;
 color:#444444;
 text-align:justify;
 line-height:16px;
 padding-right:21px;
}
.circle4 li{
 padding-bottom:9px;
 }

.circle3 li{
 padding-bottom:9px;
 }
	
.menu{
	width: 100%;
	font-family:Arial;
	font-weight:bold;
	 /* The menu should be the entire width of it's surrounding object, in this case the whole page */
	} /* dark grey bg */

.menu ul{
	margin: 0;
	padding: 0;
	float: left;}

.menu ul li{
	display: inline;} /* Makes the link all appear in one line, rather than on top of each other */

.menu ul li a{
	float: left; 
	text-decoration: none; /* removes the underline from the menu text */
	color: #fff; /* text color of the menu */
	padding: 7px 9px; /* 10.5px of padding to the right and left of the link and 11px to the top and bottom */
	}

.menu ul li a:visited{ /* This bit just makes sure the text color doesn't change once you've visited a link */
	color: #fff;
	text-decoration: none;}

.menu ul li a:hover, .menu ul li .current{
	background-color:#181818;
	color: #cfe0aa;
	/*color: #fff;
	
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px; 
	-khtml-border-radius: 8px;*/
	} 
	
.features{
	background-color:#00609d;
	font-size:large;
	height:40px;
	font-weight:bold;
	color:#FFFFFF;
	text-align:center;
	}
	
.featuresgreen{
	background-color:#55960f;
	font-size:110%;
	height:40px;
	font-weight:bold;
	color:#FFFFFF;
	text-align:center;
	}	
	
.pad1{
	padding: 8px;
	font-size: 14px;
	color: #444444;
	line-height: 18px;
	background-color: #e6f1f8;
	border-right: 1px solid #e7e9ea;
	}
	
.pad2{
	padding: 8px;
	font-size: 14px;
	color: #444444;
	line-height: 18px;
	background-color: #f6f9fc;
	border-right: 1px solid #e7e9ea;
	}	
	
	.pad3{
	padding:1px;
	font-size:13px;
	color:#006aaf;
	line-height:16px;
	background-color:#e6f1f8;
	border-right:1px solid #e7e9ea;
	}
	
.pad4{
	padding:1px;
	font-size:13px;
	color:#006aaf;
	line-height:16px;
	background-color:#f6f9fc;
	border-right:1px solid #e7e9ea;
	}	
a.offer:link{
	font-size:135%;
	font-weight:bold;
	color:#FFFFFF;
	padding-left:40px;
	text-decoration:none;
	
	}
a.offer:visited{
	font-size:135%;
	font-weight:bold;
	color:#FFFFFF;
	padding-left:40px;
	text-decoration:none;
	
	}
a.offer:hover{
	font-size:135%;
	font-weight:bold;
	color:#FFFF00;
	padding-left:40px;
	text-decoration:none;
	}

a.offer2:link{
	font-size:175%;
	font-weight:bold;
	color:#FFFFFF;
	padding-left:60px;
	text-decoration:none;
	
	}
a.offer2:visited{
	font-size:175%;
	font-weight:bold;
	color:#FFFFFF;
	padding-left:60px;
	text-decoration:none;
	
	}
	
a.offer2:hover{
	font-size:175%;
	font-weight:bold;
	color:#FFFF00;
	padding-left:60px;
	text-decoration:none;
	}		
	
a.offer1:link{
	font-size:125%;
	font-weight:bold;
	color:#FFFFFF;
	padding-left:40px;
	text-decoration:none;
	
	}
a.offer1:visited{
	font-size:125%;
	font-weight:bold;
	color:#FFFFFF;
	padding-left:40px;
	text-decoration:none;
	
	}
a.offer1:hover{
	font-size:125%;
	font-weight:bold;
	color:#FFFF00;
	padding-left:40px;
	text-decoration:none;
	}
	
	
a.black:link{
	font-size:13px;
	
	color:#444444;
	font-weight:bold;
	text-decoration:none;
	
	}
a.black:visited{
	font-size:13px;
	
	color:#444444;
	font-weight:bold;
	text-decoration:none;
	
	}
a.black:hover{
	font-size:13px;

	color:#0099FF;
	font-weight:bold;
	text-decoration:none;
	
	}
	
a.all:link{
	color:#0869AE;
	text-decoration:none;
	}
a.all:visited{
	color:#0869AE;
	text-decoration:none;
	}
a.all:hover{
	color:#4c8d05;
	text-decoration:underline;
	}
	
a.all1:link{
	color:#B1E131;
	text-decoration:none;
	}
a.all1:visited{
	color:#B1E131;
	text-decoration:none;
	}
a.all1:hover{
	color:#4c8d05;
	text-decoration:underline;
	}
		
	
	
.fothead{
	font-size:120%;
	color:#006aaf;
	font-style:italic;
	}
	
a.more:link{
	font-size:12px;
	color:#006aaf;
	text-decoration:none;
	}
a.more:visited{
	font-size:12px;
	color:#006aaf;
	text-decoration:none;
	}
a.more:hover{
	font-size:12px;
	color:#444444;
	text-decoration:none;
	}
	
.fotertext{
	font-size:12px;
	color:#666666;
	text-align:right;
	}
	
.border{
	border:1px solid #c6e0eb;
	padding:1px;
	}
	
.featuretext{
	font-size:12px;
	color:#333333;
	font-weight:bold;
	line-height:20px;
	padding-left:50px;
	text-align:left;
	}
	
a.list:link{
	font-size:12px;
	font-weight:bold;
	color:#444444;
	text-decoration:none;
	}
a.list:visited{
	font-size:12px;
	font-weight:bold;
	color:#444444;
	text-decoration:none;
	}
a.list:hover{
	font-size:12px;
	font-weight:bold;
	color:#390;
	text-decoration:none;
	
	}
	
.fon{
	font-size:16px;
	color:#390;
	}
	
.fon1{
	font-size:16px;
	color:#390;
	font-weight:bold;
}

.fon2{
	font-size:15px;
	color:#390;
	font-weight:bold;
}

.fon3{
	font-size:20px;
	color:#390;
		font-weight:bold;
	}

a.fon2:link{
	font-size:15px;
	color:#390;
	font-weight:bold;
	text-decoration:none;
}
a.fon2:visited{
	font-size:15px;
	color:#390;
	font-weight:bold;
	text-decoration:none;
}
a.fon2:hover{
	font-size:15px;
	color:#390;
	font-weight:bold;
	text-decoration:none;
}

.bluebold{
	font-size:16px;
	color:#006aaf;
	font-weight:bold;
}

.bigtitle{
		font-size:16px;
	color:#006aaf;
	padding-left:5px;
}
.leftpanneltxt{
	font-size:12px;
	color:#075587;
	font-weight:bold;
	line-height:18px;
	text-align:left;
	padding-left:9px;
	}
	
.address{
	font-size:12px;
	color:#FFFFFF;
	text-align:right;
	padding-right:8px;
	padding-top:7px;

	}

a.butadd:link{
	font-size:12px;
	color:#FFFFFF;
	text-align:right;
	padding-right:5px;
	padding-top:7px;
	text-decoration:none;
	}
a.butadd:visited{
	font-size:12px;
	color:#FFFFFF;
	text-align:right;
	padding-right:5px;
	padding-top:7px;
	text-decoration:none;
	}
a.butadd:hover{
	font-size:12px;
	color:#FFCC00;
	text-align:right;
	padding-right:5px;
	padding-top:7px;
	text-decoration:none;
	}



/*menu2*/


.menu2{
	width: 100%;
	font-family:Arial;
	font-weight:bold;

	
	 /* The menu should be the entire width of it's surrounding object, in this case the whole page */
	} /* dark grey bg */

.menu2 ul{
	margin: 0;
	padding: 0;
	float: left;
	background-color:#0364ab;
	
	}

.menu2 ul li{
	display: inline;
	} /* Makes the link all appear in one line, rather than on top of each other */

.menu2 ul li a{
	float: left; 
	text-decoration: none; /* removes the underline from the menu text */
	color: #fff; /* text color of the menu */
	padding: 7px 12px; /* 10.5px of padding to the right and left of the link and 11px to the top and bottom */
	background-color:#0364ab;
	border-top:1px solid #000000;	
	}

.menu2 ul li a:visited{ /* This bit just makes sure the text color doesn't change once you've visited a link */
	color: #fff;
	text-decoration: none;}

.menu2 ul li a:hover, .menu ul li .current{
	background-color:#181818;
	color: #ffffff;
	/*color: #fff;
	
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px; 
	-khtml-border-radius: 8px;*/
	} 
	
a.newmenu:link{
	font-family:Arial;
	font-weight:bold;
	color: #ffffff;
	text-align:center;
	text-decoration:none;
	padding-bottom:8px;
}

a.newmenu:visited{
	font-family:Arial;
	font-weight:bold;
	color: #ffffff;
	text-align:center;
	text-decoration:none;
	
}

a.newmenu:hover{
	font-family:Arial;
	font-weight:bold;
	color: #ffcc00;
	text-align:center;
	text-decoration:none;
	
}


/* secure fax left menu */
.left {
 
  margin-top: 0.9em;
  margin-left: 0.0em;
  font-weight:bold;
  position:fixed;
  padding-top:11px;

}

.menu21 ul, .menu21 ul li {
  list-style-type: none;
  display: inline;
  padding: 0;
  margin: 0;
}

.menu21 a {
  display: inline;
  padding: 0.6em;
  line-height: 1.5em; 
  text-decoration: none; 
  border: solid 1px #FFFFFF;
  color: #fff; 
  background: #181818;
}

.menu21 a:hover {
  color:#ffcc00; 
  background: #181818;
  text-decoration: none; 
}

/*end of secure fax left menu*/


.menu22{
    width: 100%;
  
	font-weight:bold;
	
	}
.menu22 ul{
    margin: 0; padding: 0;
    float: left;
	border:1px solid #414242;
	}
 
.menu22 ul li{
    display: inline;
	
	}
 
.menu22 ul li a{
    float: left; text-decoration: none;
    color: white;
    padding: 6px 14px;
    background-color: #699A0A;
	border-right:1px solid #414242; }
 
.menu22 ul li a:visited{
    color: white;}
 
.menu22 ul li a:hover, .menu ul li .current{
    color: #fff;
    background-color:#3C560A;
	}
	

.roundhome {
	
	-webkit-box-shadow: 2px 2px 0px #bbbaba;
  -moz-box-shadow: 2px 2px 0px #bbbaba;
  box-shadow: 2px 2px 0px #bbbaba;
 background-color:#4aacdd;
 -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
	padding:10px;}