
a.trigger{
	position:fixed;
	/*background:#61ae07 url(../images/plus.png) 6% 55% no-repeat;*/
	text-decoration: none;
	font-size: 16px;

	font-family: verdana, helvetica, arial, sans-serif;
	color:#fff;
	font-weight: bold;
	
	z-index:2;
}

a.trigger.right {
	left: 0;
	
	
}
a.trigger:hover {
	/*background-color:#487607;*/
}
a.active.trigger {
	/*background:#487607 url() 6% 55% no-repeat;*/
}
.panel {
	color:#CCC;
	position:fixed;
	display: none;
	width: 243px;
	height: auto;
	z-index:1;
}

.panel.right {
	left: 0;
	
	
	
}
.panel p {
	font-size:11px;
}



#navbar {
   margin: 0;
   padding: 0;
  
   font-size:12px;
   }
#navbar li {
   list-style: none;
   float: left; 
    color:#FFFFFF;}
#navbar li a {
   display: block;
   padding: 3px 2px;
   
   color: #fff;
   text-decoration: none; }
#navbar li ul {
   display: none; 

  }
#navbar li:hover ul, #navbar li.hover ul {
   display: block;
   position: absolute;
   margin: 0;
   padding: 0;
   color:#0099FF;
   }
#navbar li:hover li, #navbar li.hover li {
   float: none;
   color:#0099FF; 
    }
#navbar li:hover li a, #navbar li.hover li a {
   background-color: #1a1a1a;
   border-bottom: 1px solid #424141;
   border-left: 1px solid #424141;
   border-right: 1px solid #424141;
   color: #fff; 
   }
   
#navbar li li a:hover {
   background-color: #0565b6;
 }