body {
	margin:0;
	padding:0;
	color:#444444;
	text-decoration:none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	height: 3ex;
}
div, img, h1, h2, ul, ol, p {
	margin:0; padding:0; }
ul {
	list-style:none;
	line-height: 16px;
}
.blank {
	height:10px; clear:both; }
a {
	color:#000000;
	text-decoration:none;
}
a :hover {
	color:#CC9900;
	text-decoration:none;
}
.border {
	border:1px solid #C6CDD3;}
.border1 {
	border-top:1px solid #C6CDD3; clear:both; }
.border2 {
	border-bottom:1px solid #C6CDD3; clear:both; }

.border-blue {
	clear:both;
	background-image: url(images/blue-bg.gif);
	background-repeat: repeat-x;
	height: 350px;
}

.border-left {
	clear:both;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #A5DEF1;
}
	
.border-ry8 {
	border-bottom:1px solid #C6CDD3; clear:both; }
	
.border-top {
	border-bottom:1px solid #C6CDD3; clear:both; }
	
.border-bottom {
	border-bottom:1px solid #C6CDD3; clear:both; }

/* Main */
#mainBody {
	width:960px; margin:0 auto; padding:0; }
	
/* Header */
#headerPan {
	width:960px;
	height:125px;
}
#headerPan .logo {
	margin:0; padding:0; float:left; }
#headerPan .info {
	margin:0; padding-top:11px; padding-bottom:5px; float:right; }
#headerPan .menu {
	float:right;
	width:735px;
	height:30px;
	background-color:#093f5e;
	border:1px solid #C6CDD3;
	text-decoration:none;
}
#headerPan .menu ul {
	float:left; margin:0;list-style:none;  }
#headerPan .menu ul li {
	float:left;
	margin:6px;
	padding-left:4px;
	padding-right:8px;
	color:#FFF;
	text-decoration:none;
	font-weight:bold;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#headerPan .menu li a {
	text-decoration:none; color:#FFF;}
#headerPan .menu li a:hover {
	text-decoration:none;
	color:#E4BF66;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
#headerPan .active {
	font-weight:bold;
	text-decoration:none;
	color:#E4BF66;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.image {
	margin:0; padding:0; }

/* Body */
#bodyPan {
	width:960px; border:1px solid #C6CDD3; }
#content {
	width:960px; margin:0;}
flash {
	width: 200px;
}
.dis {
	font-family: Arial, verdana, Tahoma, "times New Roman", sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #F4F4F4;
}

.redtext {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #4A4A4A;
}


#content .title {
	font:22px Arial, Helvetica, sans-serif; font-weight:bold; text-decoration:none; color:#0280B9; margin:0; 
	padding:10px; border-bottom:1px solid #C6CDD3;}
#content .title1 {
	font:22px Arial, Helvetica, sans-serif; font-weight:bold; text-decoration:none; color:#061116; margin:0; 
	padding:10px; border-bottom:1px solid #C6CDD3;}
#content .orange {
	font:22px Arial, Helvetica, sans-serif; font-weight:bold; text-decoration:none; color:#f99c2d; margin:0;}
#content .subtitle {
	font:16px Arial, Helvetica, sans-serif; font-weight:bold; text-decoration:none; color:#061116; margin:0; padding:0;}
#content .bt {
	text-decoration:none;
	color:#000000;
	text-align:justify;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#content .bt a {
	text-decoration:underline; color:#363333;}
#content .bt a:hover {
	text-decoration:none; color:#349DBE;}
#content .homeimg	{
	margin:0; padding:0; }
	
/* LeftPan */
#leftPan {
	width:225px; float: left; margin-top:9px; margin-left:15px;}
#leftPan .lmenu ul{
	width:225px; list-style:none; margin:0; padding-top:10px;}
#leftPan .lmenu li{
	font:13px Arial, Helvetica, sans-serif; color:#1D83DA; font-weight:bold; padding:0; line-height:25px;
	border-bottom:2px solid #D23830;}
#leftPan .lmenu li a {
	text-decoration:none; color:#333; width:100%; display:block;}
#leftPan .lmenu li a:hover {
	text-decoration:none; color:#D23830; background-color:#CCCCCC;  width:100%; display:block;}
#leftPan .advan ul{
	float:left; list-style:none; padding-left:10px; margin:0; padding-top:10px;}
#leftPan .advan li{
	font:12px Arial, Helvetica, sans-serif; font-weight:bold;
	background:url(images/box.gif) no-repeat 0 4px ; padding:0 0 0 14px; margin-bottom:5px;}	
		
/* RightPan */
#rightPan {
	width:690px;
	float:right;
	margin-top:15px;
	margin-right:15px;
}
#rightPandown {
	width:950px;
	float:left;
	margin-top:15px;
	margin-right:15px;
}		
#rightPan .title {
	font:18px Arial, Helvetica, sans-serif; font-weight:bold; text-decoration:none; color:#070F11; margin:0; 
	padding-bottom:5px; border-bottom:5px solid #D23830;}
#rightPan .bold {
	font:14px Arial, Helvetica, sans-serif; text-decoration:none; color:#3982C7; font-weight:bold;}
#rightPan .bold1 {
	font:12px Arial, Helvetica, sans-serif; text-decoration:none; color:#363333; font-weight:bold;}
#rightPan .bold2 {
	font:12px Arial, Helvetica, sans-serif; text-decoration:none; color:#D23830; font-weight:bold;}
#rightPan .rbt {
	font:12px Arial, Helvetica, sans-serif;
	text-decoration:none;
	color:#000000;
	text-align:justify;
	margin-top:10px;
}
#rightPan .rbt a {
	text-decoration:none;
	color:#0066FF;
}
#rightPan .rbt a:hover {
	text-decoration:none;
	color:#0099FF;
}
#rightPan .features ul{
	list-style:none; padding-left:10px; margin:0; padding-top:15px;}
#rightPan .features li{
	font:12px Arial, Helvetica, sans-serif; font-weight:bold;
	background:url(images/arrow.gif) no-repeat 0 1px ; padding:0 0 0 20px; margin-bottom:5px;}
#rightPan .features1 ul{
	list-style:none; padding-left:30px; margin:0; padding-top:15px;}
#rightPan .features1 li{
	font:12px Arial, Helvetica, sans-serif; font-weight:bold;
	background:url(images/arrow.gif) no-repeat 0 1px ; padding:0 0 0 20px; margin-bottom:5px;}
.Btext {
	text-decoration:none;
	color:#444444;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 16px;
}
.headtext {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	letter-spacing: 1px;
}
.table-color {
	background-color: #0066FF;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}

.table-color-red {
	background-color: #FF0000;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}


.resources {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #003366;
}
.text-head {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #363333;
	letter-spacing: 1px;
	line-height: 2ex;
}
.text-head-top {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #363333;
	height: 2px;
	word-spacing: 2px;
}

.blue_text {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #4596D0;
}

.red {
	background:url(images/red.jpg) left top repeat-x; height:205px; }
.contact_header {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #7C181B;
}

.green {
	background:url(images/green.jpg) left top repeat-x; height:205px; }
.darkblue {
	background:url(images/darkblue.jpg) left top repeat-x; height:205px; }
.blue {
	background:url(images/blue.jpg) left top repeat-x; height:205px; }
.stim-head {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #003366;
}

.rbold {
	color:#D23830;
	text-decoration:none;
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.rbold:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bolder;
	color: #000000;
}
.rbold1-turner {
	font:14px Arial, Helvetica, sans-serif;
	color:#FFCC00;
	text-decoration:none;
	font-weight:bold;
	margin-top:10px;
}
.rbold1-turner-head {
	color:#FFCC00;
	text-decoration:none;
	font-weight:bold;
	margin-top:10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}
.rbold1 {
	font:14px Arial, Helvetica, sans-serif; color:#D23830; text-decoration:none; font-weight:bold; margin-top:10px;}
.rbold2 {
	font:12px Arial, Helvetica, sans-serif; color:#D23830; text-decoration:none; font-weight:bold; }
.gbold {
	color:#519035;
	text-decoration:none;
	font-weight:bold;
	font-family: Arial, verdana, Tahoma, "times New Roman", sans-serif;
	font-size: 16px;
}
.gbold:hover {
	font-family: Arial, verdana, Tahoma, "times New Roman", sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #000000;
}

.dbold {
	color:#012152;
	text-decoration:none;
	font-weight:bold;
	font-family: Arial, verdana, Tahoma, "times New Roman", sans-serif;
	font-size: 15px;
}
.dbold:hover {
	font-family: Arial, verdana, Tahoma, "times New Roman", sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #000000;
}

.bbold {
	color:#0182C3;
	text-decoration:none;
	font-weight:bold;
	font-family: Arial, verdana, Tahoma, "times New Roman", sans-serif;
	font-size: 14px;
}
.bbold:hover {
	font-family: Arial, verdana, Tahoma, "times New Roman", sans-serif;
	font-size: 14px;
	font-weight: bold;
}

.blue-epriscription {
	color:#0971A6;
	text-decoration:none;
	font-weight:bold;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.black-epriscription {
	color:#303030;
	text-decoration:none;
	font-weight:bold;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 32px;
	font-style: italic;
}

.black-epriscription-Heading {
	color:#FFFFFF;
	text-decoration:none;
	font-weight:bold;
	font-family: Arial, verdana, Tahoma, "times New Roman", sans-serif;
	font-size: 24px;
	font-style: normal;
}
.links, .links a {
	color:#000000;
	text-decoration:underline;
	font-weight:normal;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.links a:hover {
	color:#D23830; text-decoration:none; }
/*--- Footer ---*/
#footerPan {
	width:960px; margin:0 auto; float:left; clear:both;}
#footerPan .ft {
	font:12px Arial, Helvetica, sans-serif;
	text-decoration:none;
	color:#363333;
	float:left;
	height: 3px;
}
#footerPan .ft1 {
	font:11px Arial, Helvetica, sans-serif; text-decoration:none; color:#363333; float:right;}
#footerPan .ft1 a {
	text-decoration:none; color:#363333;}
#footerPan .ft1 a:hover {
	text-decoration:none; color:#0F7DDB;}
	
	
	

a.top:link{
	font-size:12px;
	color:#FFFFFF;
	text-decoration:none;
	}
a.top:visited{
	font-size:12px;
	color:#FFFFFF;
	text-decoration:none;
	}
a.top:hover{
	font-size:12px;
	color:#349dbe;
	text-decoration:none;
	}	
