
 

@font-face {
  font-family: 'FontAwesome';
  src: url('../font-awesome/fonts/fontawesome-webfont.woff') format('woff2'),
       url('../font-awesome/fonts/fontawesome-webfont.woff') format('woff');
}
    .contact-card .card {
      background: linear-gradient(145deg, #fff, #fff);
      padding: 1rem;
      border-radius: 20px;
      position: relative;
      overflow: hidden;
      opacity: 0;
      transform: scale(0.9) translateY(50px);
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
      transition: transform 0.4s ease;     min-height:330px; 
    }

    .contact-card .card:hover {
      transform: scale(1.05);
    }

    .contact-card .card::before {
      content: '';
    position: absolute;
    top: 20%;
    left: 0%;
    width: 120%;
    height: 80%;
    background: radial-gradient(circle, rgb(0 0 0 / 20%), #00000000 80%);
    transform: rotate(25deg);
    z-index: 0;
    }

    .contact-card .card-content {
      position: relative;
      z-index: 1;
    }

    .contact-card .card h3 {
      margin-top: 0;
      font-size: 1.6rem;
      color: #292966; font-weight: 600;
    }



    /* canvas {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    } */