.home-list{
  list-style: none;

  
  padding: 30px;
  border-radius:4px;
  
  li{
    padding: 10px 0 10px 0;
  }
 li:nth-child(odd) {
    text-align:center;
   border-left: 5px solid #1488F3 ;
   padding-left:4px;
   border-bottom: 10px solid darken(#ecf5ff,20%);
}
li:nth-child(even) {
    text-align:center;
  border-right: 5px solid #1488F3 ;
   padding-right:4px;
  border-bottom: 10px solid darken(#ecf5ff,20%);
}
}