

.feature-column, .nav-link {
	padding-right: 15px;
	padding-left: 15px
}
.hero-button:hover {
	background-color: #3fd4f2
}
.hero-button._2 {
	background-color: #e31064
}
.hero-button._2:hover {
	background-color: #fc3585
}
.hero-image {
	position: absolute;
	top: 215px;
	right: -40px;
	height: 440px
}
.container, .intro-button-wrapper {
	position: relative
}
.hero-image.macbook {
	top: 185px;
	right: -285px;
	height: 440px
}
.hero-image.phone-white {
	top: 225px;
	right: 100px;
	height: 420px
}
.hero-overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(29,48,66,.29)
}
.section {
	padding-top: 95px;
	padding-bottom: 95px;
	background-color: #fff
}
.section.tint {
	background-color: #ededed
}
.section.blue, .section.products {
	color: #fff;
	   background-image: linear-gradient( 135deg, rgba(130, 78, 222, 0.9) 0%, rgba(38, 136, 236, 0.9) 100%);
}
.section.blue {
	height: auto
}
.section.products {
	height: 490px
}
.section.brands-section {
	padding-bottom: 85px
}
.section.dark {
	background-color: #292929;
	color: #fff
}
.section-title-block {
	margin-bottom: 30px;
	text-align: left
}
.bottom-footer, .container.centered, .feature-column, .models-slide, .page-header-container.always-centered, .page-header-container.centered, .pricing-block, .section-title-block.centered {
	text-align: center
}
.section-title-block.testimonials {
	margin-bottom: 55px
}
.section-title {
	margin-top: 0;
	margin-bottom: 8px;
	font-size: 42px;
	line-height: 35px;
	font-weight: 900;
	text-transform: uppercase
}
.section-title.subtitle {
	font-size: 25px;
	line-height: 27px;
	font-weight: 400
}
.brand-logo {
	width: 10.2%;
	margin-right: 2%;
	margin-bottom: 12px;
	margin-left: 2%;
	opacity: .4
}
.section-divider-line {
	display: inline-block;
	width: 100px;
	height: 3px;
	background-color: #ff1774
}
.section-divider-line.feature-divider {
	margin-top: 16px;
	margin-bottom: 14px
}
.section-divider-line.models-divider {
	margin-top: 15px;
	margin-bottom: 18px;
	background-color: rgba(255,255,255,.29)
}
.nav-link {
	font-family: Raleway, sans-serif;
	color: rgba(255,255,255,.65);
	font-size: 14px
}
.logo-text, .nav-link:hover {
	color: #fff
}
.nav-link.w--current {
	opacity: 1;
	color: #fff
}
.logo-text {
	margin-top: 0;
	margin-bottom: 0;
	font-family: Raleway, sans-serif;
	font-weight: 300
}
.logo-container {
	padding-top: 7px;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease
}
.logo-container:hover {
	text-shadow: #fff 0 0 16px
}
.intro-row {
	margin-bottom: 45px
}
.intro-column-title {
	margin-top: 0;
	margin-bottom: 1px;
	font-size: 24px;
	line-height: 23px;
	font-weight: 900;
	text-transform: uppercase
}
.intro-column-title.subtitle {
	margin-bottom: 16px;
	font-size: 21px;
	font-weight: 300
}
.intro-button-line {
	position: absolute;
	left: 0;
	top: 22px;
	right: 0;
	width: 100%;
	height: 1px;
	background-color: #e0e0e0
}
.intro-icon {
	height: 65px;
	margin-bottom: 27px
}
.link {
	font-family: Raleway, sans-serif;
	color: #26acc7
}
.link:hover {
	color: #000
}
.link.below-paragraph {
	display: block;
	margin-top: 16px;
	font-family: Ubuntu, Helvetica, sans-serif;
	color: #e31064;
	text-decoration: none
}
.bottom-footer-text, .checklist-title, .large-column-title, .model-slider-title {
	font-family: Raleway, sans-serif
}
.link.below-paragraph:hover {
	color: #000;
	text-decoration: underline
}
.link.footer-link {
	display: block;
	color: #a8a8a8
}
.link.footer-link:hover, .link.footer-text-link:hover {
	color: #fff
}
.image-section {
	background-image: url(../images/BG-1.jpg);
	background-position: 50% 50%
}
.image-section-overlay {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: rgba(69,87,102,.4);
	color: #fff
}
.image-section-overlay._2 {
	padding-top: 145px;
	padding-bottom: 145px;
	background-color: rgba(69,87,102,.4)
}
.large-phone-mockup {
	position: absolute;
	left: -173px;
	top: -168px;
	height: 795px
}
.column-title-block {
	margin-bottom: 21px
}
.check-list {
	margin-top: 25px
}
.check-list-icon {
	width: 24px;
	margin-right: 13px;
	float: left
}
.check-list-item {
	margin-bottom: 10px
}
.check-list-item.last {
	margin-bottom: 0
}
.checklist-title {
	color: #fff
}
.feature-title {
	margin-top: 0;
	margin-bottom: 6px;
	font-size: 23px;
	line-height: 22px;
	font-weight: 900;
	text-transform: uppercase
}
.feature-title.subtitle {
	font-size: 17px;
	font-weight: 300
}
.feature-block {
	position: relative;
	padding: 25px;
	border-style: solid;
	border-width: 3px;
	border-color: rgba(255,255,255,.2);
	border-radius: 4px;
	box-shadow: rgba(0,0,0,.2) 0 0 7px 2px;
	-webkit-transition: background-color 500ms ease, border-color 500ms ease, color 350ms ease;
	transition: background-color 500ms ease, border-color 500ms ease, color 350ms ease
}
.feature-block:hover {
	border-color: #fff;
	background-color: #fff;
	color: #000
}
.features-row {
	margin-top: 51px
}
.footer {
	padding-top: 75px;
	background-color: #000;
	color: #b3b3b3
}
.bottom-footer {
	margin-top: 75px;
	padding-top: 35px;
	padding-bottom: 35px;
	background-color: #292929
}
.column-title, .large-column-title {
	text-transform: uppercase;
	margin-top: 0
}
.bottom-footer-text {
	color: #919191;
	font-size: 12px
}
.column-title {
	margin-bottom: 6px;
	line-height: 32px;
	font-weight: 900
}
.column-title.subtitle {
	margin-bottom: 12px;
	font-size: 27px;
	line-height: 27px;
	font-weight: 300
}
.large-column-title {
	font-family: 'Expletus Sans', cursive;
	font-size: 40px;
	line-height: 42px;
	font-weight: 400
}
.models-text-block {
	position: absolute;
	left: 0;
	top: 0;
	display: inline-block;
	width: 35%;
	margin-top: 14px;
	float: left
}
.models-slider {
	display: inline-block;
	width: 570px;
	height: 300px;
	float: right;
	background-color: transparent
}
.model-image {
	height: 300px
}
.model-image.iphone {
	height: 280px;
	margin-top: 16px
}
.model-image.ipad {
	margin-top: 18px
}
.model-slider-title {
	position: absolute;
	right: 50px;
	bottom: 85px;
	padding: 9px 11px;
	border-radius: 4px;
	background-color: rgba(0,0,0,.8);
	font-size: 23px
}
.model-slider-title.subtitle {
	bottom: 49px;
	padding: 5px 7px;
	background-color: #8435fb;
	color: #fff;
	font-size: 16px;
	font-weight: 300
}
.model-slider-arrow {
	width: 40px;
	border-radius: 0;
	opacity: .6;
	font-size: 23px;
	font-weight: 600
}
.model-slider-arrow:hover {
	opacity: 1
}
.page-header {
	background-image: url(../images/BG-2.jpg);
	background-position: 50% 50%
}
.page-header.contact {
	background-image: url(../images/BG-1.jpg)
}
.page-header._404-page {
	height: 100%
}
.page-header-overlay {
	width: 100%;
	height: 100%;
	padding-top: 175px;
	padding-bottom: 105px;
	background-color: rgba(29,48,66,.29)
}
.page-header-overlay._404-page {
	height: 100%;
	padding-top: 25%
}
.page-header-title {
	margin-top: 0;
	color: #fff;
	font-size: 52px;
	line-height: 38px;
	font-weight: 900;
	text-transform: uppercase
}
.page-header-title.subtitle {
	margin-bottom: 0;
	font-size: 27px;
	line-height: 26px;
	font-weight: 300
}
.page-header-content-container {
	margin-top: 75px
}
.pricing-column {
	padding-right: 15px;
	padding-left: 15px
}
.pricing-block {
	border-radius: 4px;
	background-color: #000;
	box-shadow: rgba(0,0,0,.49) 0 0 13px 0;
	-webkit-transition: -webkit-transform 300ms ease;
	transition: transform 300ms ease
}
.pricing-block:hover {
	-webkit-transform: scale(1.03);
	-ms-transform: scale(1.03);
	transform: scale(1.03)
}
.pricing-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 34px;
	font-weight: 900;
	text-transform: uppercase
}
.pricing-title.price {
	font-family: Lato, sans-serif;
	font-size: 36px;
	line-height: 41px;
	font-weight: 300
}
.facts-title, .feature-block-title, .field, .footer-list-text, .footer-title, .info-tooltip-text, .pricing-feature-text, .testimonial-name {
	font-family: Raleway, sans-serif
}
.pricing-title.monthly {
	color: #a8a8a8;
	font-size: 13px;
	line-height: 26px;
	font-weight: 300
}
.pricing-title._2 {
	color: #e31064
}
.pricing-title._3 {
	color: #26acc7
}
.pricing-price-wrapper {
	padding: 25px;
	background-color: #fff
}
.pricing-feature-list {
	margin-top: -20px
}
.pricing-feature-list-item {
	padding: 9px 25px;
	border-top: 1px solid #e3e3e3;
	background-color: #fff
}
.pricing-button-wrapper {
	padding: 25px;
	background-color: #1d3042
}
.contact-form {
	display: block;
	width: 600px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding: 25px;
	border-radius: 4px;
	background-color: transparent
}
.field, .field:hover {
	background-color: #fff
}
.field {
	height: 50px;
	margin-bottom: 6px;
	border-style: solid;
	border-width: 2px;
	border-color: rgba(255,255,255,.2);
	border-radius: 2px;
	-webkit-transition: background-color 200ms ease, border 400ms ease;
	transition: background-color 200ms ease, border 400ms ease;
	color: #000
}
.field:hover {
	border-color: #000
}
.field:focus {
	border-color: #26acc7;
	box-shadow: rgba(0,0,0,.6) 0 0 23px 0
}
.field.area {
	height: 170px;
	padding-top: 12px
}
.column-left {
	padding-right: 90px
}
.check-list-block {
	padding: 35px;
	border-radius: 3px;
	background-color: #e31064;
	color: #fff
}
.info-column-left {
	padding-right: 100px
}
.info-image-block {
	position: absolute;
	top: -35px;
	right: -80px;
	z-index: 20;
	width: 625px
}
.info-image-block.left {
	left: -160px;
	top: -35px;
	right: auto
}
.info-tooltip-block {
	position: absolute;
	left: 0;
	top: 106px
}
.info-tooltip-block._2 {
	left: auto;
	top: 180px;
	right: 0;
	text-align: right
}
.info-tooltip-block._3 {
	left: -100px
}
.info-tooltip-line {
	position: relative;
	width: 200px;
	height: 2px;
	background-color: #e31064
}
.info-tooltip-line._2 {
	width: 260px
}
.info-tooltip-circle {
	position: absolute;
	top: -9px;
	right: 0;
	width: 20px;
	height: 20px;
	border: 4px solid #e31064;
	border-radius: 100%;
	background-color: #fff
}
.info-tooltip-circle.left {
	left: 0;
	top: -9px;
	right: auto
}
.info-tooltip-text {
	margin-bottom: 7px;
	font-weight: 700
}
.testimonial-block {
	position: relative;
	min-height: 120px;
	margin-top: 13px;
	padding-top: 27px;
	padding-left: 125px;
	border-top: 1px solid rgba(0,0,0,.09);
	opacity: 1
}
.testimonial-image {
	position: absolute;
	left: 0;
	top: 23px;
	width: 90px;
	height: 90px;
	border: 3px solid #fff;
	border-radius: 100%
}
.testimonial-name {
	display: inline-block;
	margin-top: 9px;
	font-weight: 800
}
.testimonial-name.title {
	margin-left: 17px;
	font-weight: 300
}
.info-column-right {
	padding-left: 45px
}
.footer-column {
	text-align: left
}
.footer-link {
	color: #919191
}
.footer-link:hover {
	color: #fff
}
.footer-title {
	margin-bottom: 35px;
	opacity: 1;
	color: #fff;
	font-size: 21px;
	font-weight: 200
}
.footer-list-item {
	margin-bottom: 6px
}
.footer-list-text {
	color: #c9c9c9
}
.footer-gray-social-block {
	height: 30px;
	margin-top: 11px;
	margin-right: 10px;
	padding-top: 4px;
	padding-bottom: 1px;
	opacity: .5;
	text-align: center
}
.footer-gray-social-block:hover {
	opacity: 1
}
.footer-gray-social-icon {
	height: 22px
}
.photo-section {
	background-image: url(../images/Photo-1.jpg);
	background-position: 50% 50%
}
.photo-section-overlay {
	padding-top: 145px;
	padding-bottom: 145px;
	background-color: rgba(0,0,0,.58);
	color: #fff
}
.content-features-row._2 {
	margin-top: 30px
}
.content-features-column {
	padding-right: 15px
}
.features-block {
	position: relative;
	padding-top: 4px;
	padding-left: 44px
}
.feature-icon {
	position: absolute;
	left: 0;
	top: 0;
	height: 30px;
	opacity: .3
}
.feature-block-title {
	margin-bottom: 7px;
	font-size: 15px;
	font-weight: 800
}
.feature-paragraph {
	color: #a8a8a8
}
.facts-section {
	padding-top: 55px;
	padding-bottom: 55px;
	background-color: #ebebeb
}
.error-bg, .success-bg {
	padding-top: 16px;
	text-align: center
}
.facts-column {
	-webkit-transition: color 350ms ease;
	transition: color 350ms ease;
	color: #1c1c1c;
	text-align: center
}
.facts-column:hover {
	color: #e31064
}
.facts-title {
	font-size: 44px;
	line-height: 38px;
	font-weight: 900
}
.facts-title.description {
	margin-top: 14px;
	color: #737373;
	font-size: 20px;
	line-height: 27px;
	font-weight: 300
}
.clients-title, .process-bar-title {
	font-family: Raleway, sans-serif;
	font-weight: 700
}
.clients-title {
	margin-bottom: 17px;
	color: #fff;
	font-size: 24px;
	line-height: 30px
}
.clients-col-left {
	padding-right: 25px
}
.clients-col-right {
	padding-left: 25px
}
.process-bar-wrapper {
	position: relative;
	margin-bottom: 15px
}
.process-bar {
	width: 100%;
	height: 8px;
	border-radius: 40px;
	background-color: rgba(156,156,156,.49)
}
.process-bar-fill {
	width: 50%;
	height: 100%;
	background-color: #e31064
}
.process-bar-title {
	display: inline-block;
	margin-bottom: 5px;
	float: left;
	font-size: 13px
}
.process-bar-title.number {
	float: right;
	opacity: .4
}
.hero-buttons-wrapper {
	margin-top: 25px
}
.success-bg {
	border-radius: 60px;
	background-color: #26acc7;
	color: #fff
}
.error-bg {
	border-radius: 50px;
	color: #e31064
}
.small-link-icon {
	height: 20px;
	margin-top: 12px;
	margin-right: 8px;
	float: left
}
.dropdown {
	font-family: Raleway, sans-serif;
	color: #fff
}
.dropdown-toggle {
	padding-right: 30px;
	color: rgba(255,255,255,.65)
}
.dropdown-toggle.w--open, .dropdown-toggle:hover {
	color: #fff
}
.dropdown-icon {
	margin-right: 10px
}
.dropdown-list.w--open {
	border-radius: 3px;
	background-color: #fff;
	box-shadow: rgba(0,0,0,.29) 0 0 7px 0
}
.dropdown-link {
	padding-top: 8px;
	padding-bottom: 8px;
	-webkit-transition: background-color 350ms ease, color 350ms ease;
	transition: background-color 350ms ease, color 350ms ease;
	font-size: 13px;
	text-decoration: none
}
.dropdown-link:hover {
	background-color: #e31064;
	color: #fff
}
.dropdown-link.w--current {
	color: #26acc7
}
.dropdown-link.w--current:hover {
	color: #fff
}
html.w-mod-js [data-ix=hero-title] {
	opacity: 0
}
html.w-mod-js [data-ix=hero-title-2], html.w-mod-js [data-ix=hero-title-3], html.w-mod-js [data-ix=hero-title-4], html.w-mod-js [data-ix=hero-title-5] {
	opacity: 0;
	-webkit-transform: translate(-20px, 0);
	-ms-transform: translate(-20px, 0);
	transform: translate(-20px, 0)
}
html.w-mod-js [data-ix=hero-title-6], html.w-mod-js [data-ix=hero-button], html.w-mod-js [data-ix=hero-button-2] {
	opacity: 0;
	-webkit-transform: translate(0, 20px);
	-ms-transform: translate(0, 20px);
	transform: translate(0, 20px)
}
html.w-mod-js [data-ix=hero-image-2], html.w-mod-js [data-ix=hero-image-3], html.w-mod-js [data-ix=hero-image] {
	opacity: 0;
	-webkit-transform: translate(50px, 0);
	-ms-transform: translate(50px, 0);
	transform: translate(50px, 0)
}
html.w-mod-js [data-ix=model-title-slide], html.w-mod-js [data-ix=model-title-slide-2] {
	opacity: 0;
	-webkit-transform: translate(20px, 0);
	-ms-transform: translate(20px, 0);
	transform: translate(20px, 0)
}
html.w-mod-js [data-ix=testimonial-image] {
	opacity: .4
}
html.w-mod-js [data-ix=page-title] {
	opacity: 0;
	-webkit-transform: translate(0, -20px);
	-ms-transform: translate(0, -20px);
	transform: translate(0, -20px)
}
html.w-mod-js [data-ix=page-title-2] {
	opacity: 0;
	-webkit-transform: translate(0, 20px);
	-ms-transform: translate(0, 20px);
	transform: translate(0, 20px)
}
html.w-mod-js [data-ix=fade-in-on-load], html.w-mod-js [data-ix=fade-in-on-load-2], html.w-mod-js [data-ix=fade-in-on-load-3], html.w-mod-js [data-ix=fade-in-on-load-4], html.w-mod-js [data-ix=fade-in-on-load-5] {
	opacity: 0;
	-webkit-transform: translate(0, 30px);
	-ms-transform: translate(0, 30px);
	transform: translate(0, 30px)
}
html.w-mod-js [data-ix=fade-on-scroll] {
	opacity: .02;
	-webkit-transform: translate(-50px, 0);
	-ms-transform: translate(-50px, 0);
	transform: translate(-50px, 0)
}
html.w-mod-js [data-ix=fade-on-scroll-right] {
	opacity: .02;
	-webkit-transform: translate(30px, 0);
	-ms-transform: translate(30px, 0);
	transform: translate(30px, 0)
}
html.w-mod-js [data-ix=stats-fade-in], html.w-mod-js [data-ix=stats-fade-in-2] {
	opacity: 0;
	-webkit-transform: translate(-50px, 0);
	-ms-transform: translate(-50px, 0);
	transform: translate(-50px, 0)
}
html.w-mod-js [data-ix=stats-fade-in-3], html.w-mod-js [data-ix=stats-fade-in-4] {
	opacity: 0;
	-webkit-transform: translate(50px, 0);
	-ms-transform: translate(50px, 0);
	transform: translate(50px, 0)
}
html.w-mod-js [data-ix=process-bar-fill-70], html.w-mod-js [data-ix=process-bar-fill-50], html.w-mod-js [data-ix=process-bar-fill-30] {
	width: 0
}

@media (max-width:991px) {
.hero-overlay, .navbar {
	padding-right: 45px;
	padding-left: 45px
}
.hero {
	height: 570px
}
.hero-container {
	padding-top: 124px
}
.hero-text-block {
	width: 400px
}
.hero-title {
	font-size: 17px
}
.hero-title.title-2 {
	font-size: 23px;
	line-height: 27px
}
.hero-title.word {
	font-size: 47px
}
.hero-image {
	top: 147px;
	height: 400px
}
.hero-image.macbook {
	top: 117px;
	right: -318px;
	height: 390px
}
.hero-image.phone-white {
	top: 159px;
	height: 370px
}
.section {
	overflow-x: hidden;
	overflow-y: hidden;
	padding: 45px
}
.section.products {
	height: 360px
}
.section.blue {
	height: auto
}
.section.brands-section {
	padding-bottom: 45px
}
.section-title-block.testimonials {
	margin-bottom: 30px
}
.section-title {
	margin-bottom: 3px;
	font-size: 35px
}
.section-title.subtitle {
	font-size: 19px;
	line-height: 17px
}
.brand-logo {
	width: 11.5%;
	margin-right: 1%;
	margin-left: 1%
}
.nav-link {
	width: 100%;
	max-width: 900px;
	padding-left: 25px;
	-webkit-transition: background-color 300ms ease;
	transition: background-color 300ms ease;
	font-size: 15px
}
.nav-link:hover {
	background-color: #26acc7
}
.intro-row {
	margin-bottom: 32px
}
.image-section-overlay {
	padding-right: 45px;
	padding-left: 45px
}
.image-section-overlay._2 {
	padding-top: 45px;
	padding-bottom: 45px
}
.large-phone-mockup {
	left: -202px;
	top: -58px;
	height: 655px
}
.feature-block {
	padding: 15px
}
.large-column-title {
	font-size: 35px;
	line-height: 34px
}
.models-text-block {
	width: 40%
}
.models-slider {
	top: 39px;
	right: -15px;
	width: 400px;
	height: 190px
}
.model-image {
	height: 190px
}
.model-slider-title {
	bottom: 65px;
	font-size: 17px
}
.model-slider-title.subtitle {
	bottom: 30px;
	margin-top: 4px;
	font-size: 12px
}
.page-header-overlay {
	padding: 160px 45px 70px
}
.pricing-column, .pricing-feature-list-item {
	padding-right: 9px;
	padding-left: 9px
}
.page-header-overlay._404-page {
	padding-top: 26%
}
.page-header-title {
	font-size: 45px;
	line-height: 38px
}
.page-header-title.subtitle {
	font-size: 25px
}
.page-header-content-container {
	margin-top: 45px
}
.pricing-title {
	font-size: 24px;
	line-height: 26px
}
.pricing-title.price {
	font-size: 28px;
	line-height: 30px
}
.pricing-feature-text {
	font-size: 12px
}
.column-left {
	padding-right: 45px
}
.check-list-block {
	padding: 25px
}
.info-image-block {
	top: -4px;
	right: -100px;
	width: 535px;
	text-align: center
}
.info-image-block.left {
	top: -8px
}
.info-tooltip-block {
	text-align: left
}
.info-tooltip-block._2 {
	right: 70px
}
.info-tooltip-line._2 {
	width: 200px
}
.menu-button {
	width: 60px;
	height: 60px;
	padding-top: 17px;
	padding-right: 0;
	padding-left: 0;
	border-style: solid;
	border-width: 2px;
	border-color: rgba(255,255,255,.49);
	border-radius: 4px;
	-webkit-transition: background-color 250ms ease;
	transition: background-color 250ms ease;
	color: #fff;
	text-align: center
}
.menu-button:hover {
	background-color: #fff;
	color: #e31064
}
.menu-button.w--open {
	background-color: #26acc7
}
.nav-menu {
	background-color: #000
}
.footer-row {
	padding-right: 25px;
	padding-left: 25px
}
.photo-section-overlay {
	padding: 90px 45px
}
.dropdown-link, .dropdown-toggle {
	padding-left: 25px
}
.facts-section {
	padding-top: 35px;
	padding-bottom: 35px
}
.facts-title.description {
	font-size: 16px
}
.clients-title {
	font-size: 21px
}
.clients-col-left {
	padding-right: 18px
}
.dropdown-toggle {
	padding-right: 45px
}
.dropdown-icon {
	margin-right: 25px
}
.dropdown-list.w--open {
	border-radius: 0
}
}

@media (max-width:767px) {
.facts-column, .page-header-container.centered {
	text-align: left
}
.navbar {
	padding: 15px 25px
}
.hero {
	height: 480px
}
.hero-container {
	padding-top: 102px
}
.hero-text-block {
	width: 50%
}
.hero-title {
	font-size: 3vw;
	line-height: 5vw
}
.hero-title.title-2 {
	font-size: 3vw;
	line-height: 3vw
}
.hero-title.word {
	font-size: 6vw;
	line-height: 5vw
}
.hero-button {
	width: 100%;
	margin-top: 5px;
	margin-right: 0;
	padding-top: 9px;
	padding-bottom: 9px
}
.bottom-footer, .page-header-content-container {
	margin-top: 25px
}
.hero-image {
	height: 310px;
	right: 20px
}
.hero-image.macbook {
	top: 127px;
	right: -246px;
	height: auto
}
.hero-image.phone-white {
	height: 281px
}
.hero-overlay {
	padding-right: 25px;
	padding-left: 25px
}
.section {
	padding: 25px
}
.section.blue, .section.products {
	height: auto;
	padding-bottom: 0
}
.intro-column, .section.brands-section {
	padding-bottom: 25px
}
.section-title-block.testimonials {
	margin-bottom: 15px
}
.section-title {
	font-size: 6vw;
	line-height: 6vw
}
.section-title.subtitle {
	font-size: 3vw;
	line-height: 6vw
}
.column-title, .large-column-title, .page-header-title {
	font-size: 6vw;
	line-height: 6vw
}
.brand-logo {
	width: 17.5%
}
.logo-container {
	padding-top: 0;
	padding-left: 0
}
.intro-column.last {
	padding-bottom: 0
}
.image-section-overlay {
	padding: 25px
}
.large-phone-mockup {
	position: static;
	width: 100%;
	height: auto
}
.feature-column {
	padding-right: 10px;
	padding-bottom: 25px;
	padding-left: 10px
}
.feature-column.last {
	padding-bottom: 0
}
.footer {
	padding-top: 25px
}
.bottom-footer {
	padding: 25px
}
.models-text-block {
	position: static;
	display: block;
	width: 100%;
	margin-bottom: 30px
}
.models-slider {
	position: relative;
	top: 0;
	right: 0;
	display: block;
	width: 100%;
	float: none
}
.model-image {
	width: auto;
	height: auto
}
.page-header._404-page {
	height: auto
}
.page-header-overlay {
	padding: 100px 25px 45px
}
.page-header-overlay._404-page {
	padding: 100px 25px 25px
}
.column-left, .column-right, .footer-row, .info-column-left, .info-column-right, .pricing-column {
	padding-right: 0;
	padding-left: 0
}
.page-header-title.subtitle {
	font-size: 3vw;
	line-height: 4vw
}
.pricing-column {
	padding-bottom: 25px
}
.pricing-column.last {
	padding-bottom: 0
}
.pricing-title {
	font-size: 7vw;
	line-height: 8vw
}
.pricing-title.price {
	font-size: 6vw;
	line-height: 7vw
}
.pricing-price-wrapper {
	padding-top: 15px;
	padding-bottom: 15px
}
.pricing-feature-text {
	font-size: 14px
}
.contact-form {
	width: 100%;
	padding: 0
}
.field {
	height: 42px;
	margin-bottom: 5px
}
.column-right {
	padding-top: 25px
}
.info-image-block {
	position: static;
	width: 100%
}
.testimonial-block {
	padding-top: 19px
}
.info-column-right {
	padding-top: 25px
}
.menu-button {
	width: 50px;
	height: 50px;
	padding-top: 12px
}
.footer-column {
	padding-right: 25px;
	padding-bottom: 15px;
	padding-left: 25px
}
.footer-title {
	margin-bottom: 15px
}
.photo-section-overlay {
	padding: 25px
}
.content-features-row._2 {
	margin-top: 0
}
.content-features-column {
	padding-right: 0;
	padding-bottom: 9px;
	padding-left: 0
}
.features-block {
	padding-top: 1px;
	padding-left: 43px
}
.facts-section {
	padding: 25px
}
.facts-column {
	padding-right: 25px;
	padding-bottom: 9px;
	padding-left: 0
}
.clients-col-left, .clients-col-right {
	padding-right: 0;
	padding-left: 0
}
.facts-column.last {
	padding-bottom: 0
}
.facts-title {
	display: inline-block;
	width: 97px;
	margin-right: 22px;
	padding-bottom: 6px;
	float: left;
	border-radius: 2px;
	background-color: #292828;
	color: #fff;
	font-size: 36px;
	line-height: 33px;
	text-align: center
}
.facts-title.description {
	width: auto;
	margin-top: 7px;
	margin-right: 0;
	padding-bottom: 0;
	background-color: transparent
}
.clients-col-left {
	padding-bottom: 25px
}
.hero-buttons-wrapper {
	margin-top: 16px
}
.contact-map {
	height: 300px
}
}

@media (max-width:479px) {
p {
	font-size: 13px;
	line-height: 18px
}
.navbar {
	padding-left: 20px
}
.hero {
	height: 400px
}
.hero-container {
	padding-top: 84px
}
.hero-text-block {
	width: 60%
}
.hero-title {
	line-height: 34px
}
.hero-title.title-2 {
	margin-top: 11px;
	font-size: 4vw;
	line-height: 17px
}
.hero-button {
	padding-left: 15px
}
.hero-image {
	top: 145px;
	right: 0;
	height: 200px
}
.hero-image.macbook {
	top: 130px;
	right: -150px;
	height: auto
}
.hero-image.phone-white {
	top: 150px;
	right: -95px;
	height: 180px;
	display: none
}
.section {
	padding: 20px
}
.section.brands-section {
	padding-bottom: 13px
}
.feature-column, .intro-column, .nav-link {
	padding-bottom: 15px
}
.section-title-block {
	margin-bottom: 7px
}
.section-title {
	font-size: 7vw;
	line-height: 7vw
}
.section-title.subtitle {
	font-size: 4vw;
	line-height: 4vw
}
.brand-logo {
	width: 27.5%;
	margin-right: 2%;
	margin-left: 2%
}
.section-divider-line.feature-divider {
	margin-top: 7px
}
.section-divider-line.models-divider {
	margin-top: 9px;
	margin-bottom: 9px
}
.nav-link {
	padding-top: 15px;
	padding-left: 20px;
	font-size: 14px
}
.logo-text {
	margin-top: 3px;
	font-size: 27px;
	line-height: 34px
}
.intro-column-title {
	font-size: 22px;
	line-height: 21px
}
.intro-icon {
	height: 45px;
	margin-bottom: 13px
}
.link.below-paragraph {
	margin-top: 8px;
	font-size: 12px
}
.link.footer-link {
	font-size: 13px;
	line-height: 19px
}
.column-title-block {
	margin-bottom: 14px
}
.check-list-icon {
	width: 18px
}
.check-list-item {
	margin-bottom: 7px
}
.checklist-title {
	font-size: 12px;
	line-height: 13px
}
.feature-title {
	line-height: 12px
}
.feature-title.subtitle {
	line-height: 22px
}
.feature-column {
	padding-right: 0;
	padding-left: 0
}
.features-row {
	margin-top: 19px
}
.column-title.subtitle {
	margin-bottom: 5px;
	font-size: 5vw;
	line-height: 6vw
}
.model-image {
	height: auto
}
.model-image.iphone {
	width: auto;
	height: auto
}
.model-slider-title {
	font-size: 15px
}
.model-slider-title.subtitle {
	font-size: 10px
}
.page-header-overlay {
	padding: 75px 20px 26px
}
.page-header-title {
	margin-bottom: 6px
}
.page-header-title.subtitle {
	font-size: 3.5vw;
	line-height: 4vw
}
.page-header-content-container {
	margin-top: 25px
}
.field {
	height: 36px;
	font-size: 12px
}
.field.area {
	height: 116px
}
.testimonial-block {
	margin-top: 17px;
	padding-top: 14px;
	padding-left: 0
}
.testimonial-image {
	position: static;
	margin-bottom: 14px
}
.menu-button {
	width: 40px;
	height: 40px;
	padding-top: 7px
}
.footer-list-text {
	font-size: 13px
}
.facts-section {
	padding: 20px
}
.facts-title {
	margin-right: 14px;
	font-size: 27px
}
.facts-title.description {
	font-size: 14px
}
.clients-title {
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 20px
}
.checklist-column-right {
	padding-right: 0;
	padding-left: 0
}
.contact-map {
	height: 260px
}
.small-link-icon {
	margin-top: 3px;
	margin-right: 6px
}
}
